<%- include('partials/header') -%>
<div class="col-6 mt-5">
  <a class="btn btn-primary" href="/profile">Return to Profile</a>
</div>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-12 justify-content-between mt-5 shadow p-3 mb-5 bg-body rounded">
            <p class="fw-bold "><%= posts[i].user.userName %> </p>
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
            <form
            class="col-1"
            action="/post/likePost/<%= posts[i]._id %>?_method=PUT"
            method="POST"
          >
            <button class="btn btn-primary fa fa-heart" type="submit"></button>
          </form>
          </li>
        <% } %>
        </ul>
    </div>
  </div> 

<%- include('partials/footer') -%>